/* Dottee Fonts */
@font-face {
  font-family: 'Dottee-Bold';
  src: url('https://oskar-likewize.github.io/custom-fonts/Dottee-Bold.woff2') format('woff2'),
       url('https://oskar-likewize.github.io/custom-fonts/Dottee-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Dottee-CondensedBold';
  src: url('https://oskar-likewize.github.io/custom-fonts/Dottee-CondensedBold.woff2') format('woff2'),
       url('https://oskar-likewize.github.io/custom-fonts/Dottee-CondensedBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Dottee-CondensedLight';
  src: url('https://oskar-likewize.github.io/custom-fonts/Dottee-CondensedLight.woff2') format('woff2'),
       url('https://oskar-likewize.github.io/custom-fonts/Dottee-CondensedLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Dottee-CondensedRegular';
  src: url('https://oskar-likewize.github.io/custom-fonts/Dottee-CondensedRegular.woff2') format('woff2'),
       url('https://oskar-likewize.github.io/custom-fonts/Dottee-CondensedRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dottee-ExtendedBold';
  src: url('https://oskar-likewize.github.io/custom-fonts/Dottee-ExtendedBold.woff2') format('woff2'),
       url('https://oskar-likewize.github.io/custom-fonts/Dottee-ExtendedBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Dottee-ExtendedLight';
  src: url('https://oskar-likewize.github.io/custom-fonts/Dottee-ExtendedLight.woff2') format('woff2'),
       url('https://oskar-likewize.github.io/custom-fonts/Dottee-ExtendedLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Dottee-ExtendedRegular';
  src: url('https://oskar-likewize.github.io/custom-fonts/Dottee-ExtendedRegular.woff2') format('woff2'),
       url('https://oskar-likewize.github.io/custom-fonts/Dottee-ExtendedRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dottee-Light';
  src: url('https://oskar-likewize.github.io/custom-fonts/Dottee-Light.woff2') format('woff2'),
       url('https://oskar-likewize.github.io/custom-fonts/Dottee-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Dottee-Regular';
  src: url('https://oskar-likewize.github.io/custom-fonts/Dottee-Regular.woff2') format('woff2'),
       url('https://oskar-likewize.github.io/custom-fonts/Dottee-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Non-Dottee Fonts */
@font-face {
  font-family: 'Non-Dottee-Bold';
  src: url('https://oskar-likewize.github.io/custom-fonts/Non-Dottee-Bold.woff2') format('woff2'),
       url('https://oskar-likewize.github.io/custom-fonts/Non-Dottee-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Non-Dottee-BoldItalic';
  src: url('https://oskar-likewize.github.io/custom-fonts/Non-Dottee-BoldItalic.woff2') format('woff2'),
       url('https://oskar-likewize.github.io/custom-fonts/Non-Dottee-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Non-Dottee-Light';
  src: url('https://oskar-likewize.github.io/custom-fonts/Non-Dottee-Light.woff2') format('woff2'),
       url('https://oskar-likewize.github.io/custom-fonts/Non-Dottee-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Non-Dottee-LightItalic';
  src: url('https://oskar-likewize.github.io/custom-fonts/Non-Dottee-LightItalic.woff2') format('woff2'),
       url('https://oskar-likewize.github.io/custom-fonts/Non-Dottee-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Non-Dottee-Regular';
  src: url('https://oskar-likewize.github.io/custom-fonts/Non-Dottee-Regular.woff2') format('woff2'),
       url('https://oskar-likewize.github.io/custom-fonts/Non-Dottee-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Non-Dottee-RegularItalic';
  src: url('https://oskar-likewize.github.io/custom-fonts/Non-Dottee-RegularItalic.woff2') format('woff2'),
       url('https://oskar-likewize.github.io/custom-fonts/Non-Dottee-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

